{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
        </div>
    {% endfor %} 

<h1>Blog Post</h1>
<br>
<article class="blog-post">
    {% for post in  posts %}
    <h3 class="blog-post-title mb-1">
        <a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a>
    </h3>
    <p>{{ post.content|safe }}</p>
    <p class="blog-post-meta">{{ post.date_posted }} by <a href="#">{{ post.poster.name }}</a></p>
    <a href="{{ url_for('post', id=post.id) }}" class='btn btn-outline-secondary btn-sm'>Read more...</a>
{% if current_user.id == post.poster.id %}
    <a href="{{ url_for('edit_post', id=post.id) }}" class='btn btn-outline-secondary btn-sm'>Edit Post</a>
    <a href="{{ url_for('delete_post', id=post.id) }}" class='btn btn-outline-danger btn-sm'>Delete Post</a>
    {% endif %}
    <hr>
    {% endfor %}
</article>

{% endblock %}