{% extends "base.html" %} 
{% block content %} 
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
        </div>
    {% endfor %} 

{% if id == current_user.id %}
    <h1>Update User</h1>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="/dashboard" method="POST">
            {{form.hidden_tag()}} 

            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control", value=name_to_update.name)}} 
            
            {{form.username.label(class="form-label")}}
            {{form.username(class="form-control", value=name_to_update.username)}} 

            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control", value=name_to_update.email)}}
            
            {{form.favorite_color.label(class="form-label")}}
            {{form.favorite_color(class="form-control", value=name_to_update.favorite_color)}}
            <br />
            {{form.submit(class="btn btn-secondary")}}
            <a href="{{ url_for('delete_record', id=id) }}" class="btn btn-danger">Delete</a>
        </form>
    </div>
{% else %}
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <h3 style="color: red;">Access Denied!</h3>
    <h5>Sorry! You Cant Edit This User...</h5>
</div>
{% endif %}
{% endblock %}
