{% extends "base.html" %} 
{% block content %} 
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
        </div>
    {% endfor %} 

{% if name %}
    <h1>Update User</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Favorite Color</th>
            </tr>
        </thead>
        <tbody>
            {% for our_user in our_users %}
            <tr>
    
                <td>{{ our_user.id }}</td>
                <td>{{ our_user.name }}</td>
                <td>{{ our_user.email }}</td>
                <td>{{ our_user.favorite_color }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}

<h1>Update User</h1>
<br />
<div class="shadow p-3 mb-5 bg-body rounded">
<form action="/update/{{ name_to_update.id }}" method="POST">
    {{form.hidden_tag()}} 

    {{form.name.label(class="form-label")}}
    {{form.name(class="form-control", value=name_to_update.name)}} 

    {{form.email.label(class="form-label")}}
    {{form.email(class="form-control", value=name_to_update.email)}}
    
    {{form.favorite_color.label(class="form-label")}}
    {{form.favorite_color(class="form-control", value=name_to_update.favorite_color)}}
    <br />
    {{form.submit(class="btn btn-secondary")}}
</form>
</div>
{% endif %} 
{% endblock %}
